@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-SemiBold";
  src: url('/assets/fonts/Gilroy-SemiBold.ttf') format('truetype'); /* Specify the format */
}

body {
  font-family: "Gilroy-SemiBold", sans-serif;
}