.footer .footerContentHead{
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}
.footer {
  /* Multiple backgrounds: the first is a radial gradient, the second is the image */
  background: radial-gradient(circle, rgba(#447ef7), rgba(#447ef7)),
    /* Adjust colors as needed */ url("/assets/footerBgImg.svg"); /* Assuming image is in the 'public/assets' folder */
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.footer h5 {
  font-size: "16px !important";
  font-weight: 600;
  margin-bottom: 20px;
}
.footer ul li {
  margin-bottom: 8px;
}

.footer ul li a {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
}
.footer .listHead {
  padding-bottom: 40px;
  border-bottom: 1px solid #fff;
}
.footer .form{
    border-bottom: 1px solid #fff;
    width: 100%;
   
}
.footer .form .input {
  background: unset;
  border: unset;
  outline: unset;
  width: 100%;
}
.footer .form .input::placeholder{
  font-size: 20px;
}
.footer .inputHead {
  border-bottom: 1px solid #fff;
 
  
}
.footer .inputContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .inputHead img {
  color: #fff;
}
